@font-face {
  font-family: pirateFont;
       src: url('Primitive.ttf')   /* Safari, Android, iOS */;
}

body {
    background: url("images/back2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: pirateFont;
    font-size: 2.3em;
}

#preview {
    width: 100%;
    position: relative;
    margin: auto;
}


.row{
    position: absolute;
    bottom: 0;
    left:0.5em;
}
.row-image{
    background: url("images/scroll.png") no-repeat;
    width: 100%;
    height: 10%;
}

.unlock-key{
    width: 50px;
}

a {
    margin: auto;
    width: auto;
    height: auto;
    float: left;
    display: inline;
}

a p {
    margin: auto;
}

.content {
    position: relative;
    margin: 5% 17% 0 17%;
    padding: 10px;
}

.top-bar {
    position: relative;
    margin: 5% 15% 20 15%;
    padding-bottom: 20px;
    height: 200px;
}

.top-bar a{
    border-width: 3px;
    border-color: black;
    width: 21%;
    padding: 5px;
}

a img {
    margin: auto;
    width: 150px;
    height: 150px;
}

header {
    margin: 10% 10% 0% 50%;
}

header a {
    float: initial;
    padding-left: 25px;
}

a.treasure-link {
    padding: 2px;
}