{% load static %}

<html>
    <head>
        <title>Scavenger Hunt</title>
        <link rel="stylesheet" type="text/css" href="{% static 'hunt/main.css' %}">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
        <script type="text/javascript" src="{% static "hunt/instascan.min.js" %}"></script>
    </head>
    {% if user.is_authenticated %}
        <header><span>{{ user.username }}</span><a href="{% url 'hunt:logout'%}?next={{request.path}}">Logout</a></header>
    {% endif %}
    <body>
        {% if user.is_authenticated %}
            <div class="top-bar">
                <a href="{% url 'hunt:scan'%}"><img src="{% static '/hunt/images/magnifying_glass.jpg' %}" alt=""><p>scan</p></a>
                <a href="{% url 'hunt:rules'%}"><img src="{% static '/hunt/images/law_and_order.png' %}" alt=""><p>rules</p></a>
                <a href="{% url 'hunt:leaderboard'%}"><img src="{% static '/hunt/images/racing_flag.png' %}" alt=""><p>board</p></a>
                <a href="{% url 'hunt:user' user.id%}"><img src="{% static '/hunt/images/chest.png' %}" alt=""><p>chest</p></a>
            </div>
        {% else %}
            <div class="top-bar">
                <a href="{% url 'hunt:login' %}">Login</a>
                <a href="{% url 'hunt:register' %}">Register</a>
            </div>
        {% endif %}
        <div class="content">
        {% block content %}
        {% endblock content %}
        </div>
    </body>
</html>