{% extends "hunt/base.html" %}

{% load static %}

{% block content %}
<h1>{{ clue.name }}</h1>
<img src="{{ clue.treasure_icon.url }}" alt="{{ clue.treasure_icon.name }}">
<h2>{{ clue.location_hint }}</h2>
{% endblock content %}