{% extends "hunt/base.html" %}
{% block content %}
{% load static %}

{% if user.is_authenticated %}
<p>{{welcome_message}}</p>
{% else %}
    <p>Welcome to the Tech Day treasure hunt. 
        Hidden around the building are the markers that will lead to the treasure. 
        Please login or register to begin.  Good Luck mateys! </p>
{% endif %}
{% endblock content %}