{% extends "hunt/base.html" %}

{% block content %}

{% load static %}
<table>
    <tr>
        <th>Username</th>
        <th>Completion</th>
    </tr>
    {% for item in table %}
    <tr>
        <td>{{item.player}}</td>
        <td>{{item.score}}/{{item.total}}</td>
        <td>
            {% if item.score == item.total %}
            <img src="{% static 'hunt/images/chest.png' %}" alt="completion_image">
            {% endif %}

        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}