{% extends "hunt/base.html" %}

{% block content %}

{% load static %}

<ul>
    <li>There are 20 golden tickets up for grabs as prizes.</li>
    <li>Each golden ticket entitles the holder to skip the queues for the food and drink.</li>
    <li>Each ticket is one use and can be free given to others to use.</li>
</ul>
{% endblock content %}