{% extends "hunt/base.html" %}

{% block content %}

{% load static %}
<ol>
    <li>People can participate in teams or individually but each person must download the app or collect a sheet to fill out.</li>
    <li>Sheets can be collected from the volunteer stand at the entrance.</li>
    <li>You must collect all the items to complete the hunt. The app will automatically inform you if you have collected all the codes.</li>
    <li>You can then collect your prize from the volunteer stand.</li>
</ol>
{% endblock content %}