{% extends "hunt/base.html" %}

{% block content %}

{% load static %}

<video id="preview"></video>
<script type="text/javascript">
  function findGetParameter(parameterName, sourceString) {
    var result = null,
      tmp = [];
    var back = sourceString.split("?")[1];
    var items = back.split("&");
    for (var index = 0; index < items.length; index++) {
      tmp = items[index].split("=");
      if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
    }
    return result;
  }

  let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
  scanner.addListener('scan', function (content) {

    if (content.includes("localhost")) {
      code = findGetParameter('decrypt_code', content);
      clue_id = findGetParameter('clue_id', content);
      let data = new FormData();
      data.append('decrypt_code',code);
      data.append('clue_id',clue_id);
      data.append('csrfmiddlewaretoken','{{ csrf_token }}');
      
      fetch(
        '/hunt/decrypt/', {
          method: 'post',
          headers: new Headers(),
          body: data,
          credentials: 'same-origin'
        }
      ).then(function () {
        window.location.href = '/hunt/user/{{ user.id }}'
      }).catch(function () {
        console.error('Failed to successfully execute decryption. URI was ' + content);
      });
    }
  });
  Instascan.Camera.getCameras().then(function (cameras) {
    if (cameras.length > 0) {
      scanner.start(cameras[cameras.length - 1]);
    } else {
      console.error('No cameras found.');
    }
  }).catch(function (e) {
    console.error(e);
  });
</script>
{% endblock content %}