{% extends "hunt/base.html" %}

{% block content %}

{% load static %}

{% if error_message%}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% for clue_status in user.cluestatus_set.all %}
    {% if clue_status.solved %}
        <a class="treasure-link" href="{% url 'hunt:clue' clue_status.clue.id %}">
            <img class="treasure_image" src="{{ clue_status.clue.treasure_icon.url }}" alt="{{ clue_status.clue.name }}">
    {% else %}
        <a class="treasure-link" href="#">
            <img class="treasure_image" src="{% static 'hunt/images/closed_treasure_chest.jpg' %}" alt="Unknown Treasure">
    {% endif %}
        </a>
{% endfor %}
{% endblock content %}